* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: border-box;
}


.cuphead {
  position: relative;
  min-height: 100vh;
  background-color: #fecf34;
}

.face {
  border: 5px solid #1d1b1d;
  border-radius: 0px 30px 350px 320px;
  width: 350px;
  height: 230px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  background-color: #e1e1e1;
  z-index: 1;
  overflow: hidden;
}

.nose {
  border: 3px solid #1d1b1d;
  border-radius: 17px 30px 17px 30px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 58%;
  left: 60%;
  transform: translateY(-50%) rotate(-50deg);
  background-color: #db4227;
  z-index: 3;
}

.ear {
  border: 5px solid #1d1b1d;
  border-radius: 50%;
  position: absolute;
  top: 59%;
  left: 22%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%) rotate(-3deg);
  background-color: #e1e1e1;
}

.ear::before {
  content: '';
  display: block;
  border: 5px solid #1d1b1d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 55%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) rotate(-3deg);
  background-color: #fecf34;
  overflow: hidden;
}

/*.face-top {*/
/*  border: 5px solid red;*/
/*  !*border-top: 102px solid #fecf34;*!*/
/*  !*border-radius: 200px 200px 0 0;*!*/
/*  width: 400px;*/
/*  height: 230px;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -70%) rotate(0deg);*/
/*  z-index: 3;*/
/*  overflow: hidden;*/
/*}*/

.face-outline {
  border: 5px solid #1d1b1d;
  border-radius: 0px 30px 350px 320px;
  width: 350px;
  height: 230px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  z-index: 3;
}

.eye {
  border: 5px solid #1d1b1d;
  border-radius: 100px / 90px ;
  width: 160px;
  height: 180px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-55%, -105%);
  background-color: #FFFFFF;
  z-index: 2;
  overflow: hidden;
}

.eye.right {
  width: 140px;
  border-radius: 100px / 90px ;
  transform: translate(40%, -105%) rotate(-11deg);
  z-index: 1;
  /*overflow: hidden;*/
}

